body {
    font-family: 'Quicksand', sans-serif;

    /* background-color: gray; */
    background-image: url("https://i.kym-cdn.com/photos/images/facebook/001/318/180/0eb.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -300px;

    display: grid;
    grid-template-columns: auto 800px auto;
}

#mainTitle {
    grid-column-start: 2;
    text-align: center;
}

#gameWindow {
    position: relative;
    width: 800px;
    height: 592px;
    grid-column-start: 2;
    background-color: aqua;
}

.background {
    position: absolute;
    z-index: 0;
}

.character {
    animation: 3s pulsate alternate ease-in-out infinite;

    position: absolute;
    z-index: 1;
}

.foreground {
    position: absolute;
    z-index: 2;
}

#player {
    top: 0px;
    left: 0px;

    transition: all 1s ease;
}

#door1 {
    top: 224px;
    left: 224px;
    width: 16px;
    height: 32px;
    background-color: magenta;
}

#door2 {
    top: 336px;
    left: 592px;
    width: 48px;
    height: 32px;
    background-color: magenta;
}







@keyframes pulsate {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}